[2019-05-08 15:23] shiqin-liu opened #1 "OSM: problem retaining all street network with 'graph_from_place' and 'graph_from_polygon'"
I try to extract complete OSM network: "all (non-private) OSM streets and paths", with 'graph_from_place' and 'graph_from_polygon', but it takes forever to run (for 1h+, still not responding), but it works fine for 'graph_from_address'.

Here is the code for demonstration:
[code]
But with 'graph_from_address', we are not able to set buffer for the study region? In Carl's scripts, he suggests 10km

[2019-05-08 15:46] shiqin-liu opened #2 "OSM: Parameters for pedestrian and transportation infrastructure"
I am wondering how to check parameters for pedestrian or transportation infrastructure in OSM. For now, I search for Wiki [https://wiki.openstreetmap.org/wiki/Highways](url) for the related tag. Not sure if that's an efficient way to do, any other suggestions will be appreciated.

For the pedestrian network, they use that for the previous project:
[code]

Just wondering how it compared to `network

[2019-05-08 16:03] shiqin-liu opened #3 "Should we save output files at this point?"
Should we save the OSM output for Pheonix at this point? For now, I try to save the network output just for experimental purpose. Two quick questions:

1. Should I save graphs as shapefile or GraphML? Not so familiar with GraphML...

2. How can I save in a folder a level up a directory? For example, I am currently under the `process` folder, how can I save the output in a new folder under the pare

[2019-05-09 02:14] gboeing commented on #1
Regarding `graph_from_address` see the docstring here: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.footprints.footprints_from_address

Rather than a buffer, you set a bounding-box distance around the address point.

Regarding `graph_from_place`, are you still unable to get it to finish? It's working on my end. Phoenix is a big city (spatially), but it shouldn't take an hour+.

[2019-05-09 02:19] gboeing commented on #2
You can see OSMnx's various `network_type` filters here: https://github.com/gboeing/osmnx/blob/eb39dff4aaf726d33b6b7aa9f71c50f3e9b9f012/osmnx/core.py#L560

In general, you'll want to use the OSMnx pre-built filters unless there's clear evidence that they're insufficient (in which case, we might want to update them).

Here's a good place to get started with OSM tags: https://wiki.openstreetmap.org/

[2019-05-09 02:20] gboeing commented on #3
Here's a resource for graphml: http://graphml.graphdrawing.org/

Yes we should save to graphml from OSMnx... that's just useful for re-loading later. The filepath would be like `'../myfolder/filename.graphml'`

[2019-05-09 02:25] gboeing commented on #1
Here's the code:
[code]
It completes successfully in a few minutes. Here's the console log:
[code]

[2019-05-09 02:28] carlhiggs commented on #3
Hey, happy to share my thoughts on these aspects:

1) I've previously saved both: shp files, because I was using an arcpy network analyst approaching which used nodes and edges in this format (depending on approach though may not be necessary for this project?) - I also tend to plonk it in postgis anyway; graphml, because if I've taken the time to download it once (maybe more than a few mins for a

[2019-05-09 02:37] carlhiggs commented on #2
The pedestrian custom filter I created was really done for our Melbourne context, where due to many shared bike/cycle paths we found exclusion of cycleways seemed problematic for pedestrian path representation; walkble cut throughs through parks, and some bridge crossing weren't included due to being flagged as cyclepaths.  From memory, my custom filter is basically like the OSMnx 'walk' with the

[2019-05-09 02:52] shiqin-liu commented on #2
Thank you for the clarification! So maybe setting the network_type = walk is a more conservative approach to define pedestrian in a global context. At least in the US, some of the bike lanes are in the middle of the road and not designed for walking. But we could always add cycle as another option for comparison. Good to know the context!

[2019-05-09 17:03] shiqin-liu commented on #1
Thank you Geoff! It is good to know that it is working on your end. I tried a few times but still failed, I can see something go wrong in my console log after `Identifying all nodes that lie outside the polygon...`. Trying to figuring out whether that's a system problem on my end. Will keep you posted on that soon.

[2019-05-09 18:21] gboeing commented on #1
Ok let me know if it ends up working.

[2019-05-09 19:10] shiqin-liu commented on #1
Got this working now! One reason not running before is that Jupyter not trust my notebook for some reasons. Still takes about 30min+ to run, but at least it gives me the output. Thanks!

[2019-05-10 23:30] carlhiggs commented on #1
Hi Shirley and Geoff, sorry for not responding sooner -- the updates from GitHub hey a bit lost in my inbox! I'll try to keep an eye more on here when I'm at work.

Regarding the study region buffer, the idea is to mitigate edge effects: eg. if you are using a survey participant's geocoded location as your origin point in a distance to closest analysis, and they happen to be located near the edge

[2019-05-10 23:36] carlhiggs commented on #1
Re: the trust thing, you've probably already found the answer, but you can type 'jupyter trust notebook-name.ipynb' at console prompt ( as per https://stackoverflow.com/questions/44943646/jupyter-notebook-not-trusted )

[2019-05-11 00:17] shiqin-liu commented on #1
Thanks, Carl! I was just wondering about the meaning of setting the buffer, your clarification is helpful. With OSMnx, it is easy to set the buffer distance so I just keep this option for now. I got the trust thing work out too. Thanks!

[2019-08-20 22:53] shiqin-liu opened #5 "ox.basic_stats: ValueError: not enough values to unpack (expected 2, got 0)"
I was trying the rerun the create sausage buffer analysis with complete sample points in [04_create_sausage_buffer.ipynb](https://github.com/shiqin-liu/global-indicators/blob/phoenix/process/04_create_sausage_buffer.ipynb).

[code]
I was getting the error `not enough values to unpack (expected 2, got 0)` when running the function half-way with points:

[code]

here is the error message:

[code]

I

[2019-08-21 05:13] carlhiggs commented on #5
Hi Shirley,

The first thought that comes to my mind with this is, it looks like intersection cleaning is being done for each sub-graph excerpt; however, I think it might make more sense to run the clean intersections once for the full G_proj network (which in itself should have had retain_islands set to False, so should have no orphan segments like these).  So, then when running the local neighbo

[2019-08-22 19:22] shiqin-liu commented on #5
Thank you, Carl! It seems like a solution to count clean intersections directly for each buffered network. I was just thinking if I could still use .basic_stats since some of the basic stats may be useful to keep as well. Maybe I could create a conditional statement to rule out the buffered network where intersection count is zero, and run .basic_stats for those buffered network with clean_interse

[2020-01-24 18:42] gboeing opened #11 "cannot process Odense"
I have created/merged PRs #8, #9, and #10 to patch code and configs to get Odense processing working. However, I'm hitting a scikit-learn error after pop/intersection density calculation, when it tries to do POI access calculations. Details documented below.

Steps to reproduce:

  1. If you have forked the repo before cloning a local copy to your machine, run `git pull upstream master` to update

[2020-01-24 19:13] shiqin-liu commented on #11
Thank you, Geoff! I was testing the scripts for odense this morning as well, and it seems I was able to process and get the hex grid output successfully. I will try some other cities and keep you updated if there is an issue.

Here is the processing:
[code]

[2020-01-24 19:16] gboeing commented on #11
@shiqin-liu were you able to do this using my steps 1-6 above?

Your output (including graph size) look so different from mine, I want to make sure we're using the same code, data, and steps to reproduce.

[2020-01-24 19:22] shiqin-liu commented on #11
For steps 3: I do `docker pull gboeing/global-indicators`.  All else, I follow the same steps. But another note, I was actually using the odense data file that was prepared for SV earlier, but not the file that Carl just updated on Cloudstor. That may be the reason... I will try the new file and see what will happen

[2020-01-24 19:23] gboeing commented on #11
Try `docker pull gboeing/global-indicators:latest` just to double-check that you're not using the old image.

[2020-01-25 16:15] shiqin-liu commented on #11
I used the latest image and the new file, but this time I was only able to run the scripts partially. I tried a few times and left the scripts processed overnight, but it stoped here (as shown below) without even showing the error message. Not sure about the problem yet... but here is where I am at:

[code]

[2020-01-25 16:18] shiqin-liu commented on #11
Here is the message when I interrupt the kernel:
[code]

[2020-01-25 16:25] gboeing commented on #11
Multiprocessing makes debugging tricky. Try running with false instead of true. And try to allocate at least 4gb of memory in docker's settings in case it's a memory issue...

[2020-01-25 22:06] shiqin-liu commented on #11
Thanks, Geoff! After setting the multiprocessing to False, I was able to run the scripts, but unfortunately, I got the same error message as yours after a few hours processing.

Here is the end of the processing results:
[code]

[2020-01-27 04:42] gboeing commented on #11
Yeah same problem. @carlhiggs same for you?

[2020-01-28 06:47] gboeing commented on #11
FWIW I can't get it running with SV's `zacwang/global-indicator` docker image either (using the Odense files Carl shared on Cloudstor). Similar error:

[code]

[2020-01-28 19:41] thuanguy commented on #11
I am running the code for hanoi. It has been running for a whole day and still running. I wonder if that's normal.

[2020-01-28 19:42] gboeing commented on #11
@thuanguy Hanoi's a big city, so that's entirely possible. Can you try running Odense to see what you get? It's smaller and should be faster.

[2020-01-30 16:26] thuanguy commented on #11
112200 / 112402
112300 / 112402
112400 / 112402
The time to finish average pop and intersection density is: 267166.51315426826
Start to create hex_id for sample points
Start to calculate assessbility to POIs.
Generating contraction hierarchies with 2 threads.
Setting CH node vector of size 112402
Setting CH edge vector of size 275045
Range graph removed 261546 edges of 550090
. 10% . 20% . 30% . 4

[2020-02-03 11:17] duelran commented on #11
Using Zac's original code from the [sv branch](https://github.com/zacwang89/global-indicators/tree/sv/process) and the original rather than the updated input data, I was able to get both Odense and Phoenix working successfully today.  As per our email discussion with the SV team, it looks like the problems we are having can be traced back to differences in the input files, and by patching the code

[2020-02-03 15:11] gboeing commented on #11
Thanks @duelran.

@thuanguy can you take the lead and coordinate with @shiqin-liu to get this fix done accordingly in the next couple days? Sounds like it should be relatively simple. Just cc me on any email traffic in the meantime to keep me abreast.

[2020-02-03 15:26] shiqin-liu commented on #11
Thanks all! @gboeing Sure, @thuanguy and I are connected through email, I plan to take a look at that today, will keep you and @thuanguy posted for any update.

[2020-02-03 16:46] thuanguy commented on #11
Thanks all. I will be working on this later today.

On Mon, Feb 3, 2020 at 7:26 AM Shirley Liu <notifications@github.com> wrote:

[2020-02-03 22:32] shiqin-liu commented on #11
I have successfully run through the scripts for Odense.

A quick fix is adjusting the city-specific configuration file:
[code]

In this case, I simply changed the value under "supermarket" to "Fresh Food / Market",  which used to be "Supermarket".

Here is the end of processing:
[code]

I have not checked the other cities yet, so for future reference:
1. make sure the destination parameter value i

[2020-02-04 16:42] gboeing commented on #11
Thanks @shiqin-liu! @thuanguy do you think you can you get Hanoi working similarly prior to our RA meeting this week?

[2020-02-04 16:51] thuanguy commented on #11
@gboeing yes I am running hanoi. It should be done by then. Last time it took a bit more than 2 days.

[2020-02-10 19:52] #11 closed, assigned to nobody

[2020-02-18 19:46] shiqin-liu opened #16 "possible issue with dropna() in sample point data layer"
Hi all,
I have completed my cities, however, there are some issues I found with Phoenix, Chanai and olomouc after aggregating the result. I only get partial hex grid results as shown below for example:
￼
Phoenix:
<img width="100" alt="Phoenix" src="https://user-images.githubusercontent.com/46453772/74770336-a73f6600-5251-11ea-8035-8dc3e44948d4.png">

So I checked the dataset,  somehow the **sample

[2020-02-25 17:23] shiqin-liu commented on #16
Thanks everyone for the processing! I have downloaded the 20 processed cities from the cloud, and found this same issue occurs to more than half of our study regions. So I was not able to run the aggregation scripts because some cities even have zero valid sample point values.

However, I have found a fix by deleting the _ref_ column from the sample point dataframe, I believe this column is irrele

[2020-02-25 18:16] gboeing commented on #16
Thanks Shirley. Do you need everyone else to open PRs so we can merge their per-city json config files into the master? Or are you handling that on your end?

[2020-02-25 18:20] shiqin-liu commented on #16
No problem, I will handle this on my end, and update through my PRs.

[2020-02-26 19:49] gboeing commented on #16
Does #17 close this issue?

[2020-02-26 19:53] shiqin-liu commented on #16
Thanks, Geoff! Yes, I think it does close this issue.

On Wed, Feb 26, 2020 at 2:49 PM Geoff Boeing <notifications@github.com>
wrote:

--
*Best regards,*
*Shirley*

Shirley (Shiqin) Liu
Ph.D. candidate in Law and Public Policy
School of Public Policy and Urban Affairs
Northeastern University
Phone: 216-925-2562

[2020-02-26 19:58] gboeing commented on #16
closed by #17

[2020-02-26 19:58] #16 closed, assigned to nobody

[2020-02-27 07:01] carlhiggs opened #19 "Sample point distance estimate concern in sv_sp.py"
Looking at SpatialVision's code in sv_sp.py, I have a concern about the method they have implemented for deriving distance to amenity estimates for sample points based on association with nearby nodes.

On line 219, there is the following code:
[code]

This appears to be saying, given the closest node, assume that because its the closest to this sample point then the distance from this node to a d

[2020-02-28 00:07] carlhiggs commented on #19
I've now processed Bangkok using the existing SpatialVision script so I can provide a better visual example of the issue I described above.

![image](https://user-images.githubusercontent.com/12984626/75497666-1ae32f00-5a19-11ea-80cb-342c12e9dc49.png)

We see that sample points have not been evaluated with a continuous distance (which is do-able given the available data), and by just using the dis

[2020-02-28 00:16] carlhiggs opened #20 "Input data files should not be modified by the process; outputs should be clearly distinct"
(not urgent - but something for us to think about as we polish this code into the shape we want it to be)

I think its a bad idea that we modify our input data source files; we should aim to keep a clear distinction what is input and what is output.  Even if the layers in the geopackages aren't modified, we shouldn't add outputs to the input.  Doing this makes it unclear by looking at files if thi

[2020-02-28 00:25] carlhiggs opened #21 "Pandanas distance estimates beyond threshold should be nan, not -999"
(not an urgent issue - but one to think about as we polish our code)

While the use of clearly invalid numbers like -999, -777 or -666 as error codes is not unusual, I think it is generally acknowledged as a practice that [should be avoided](https://stats.stackexchange.com/questions/225175/why-do-some-people-use-999-or-9999-to-replace-missing-values) where possible --- particularly when dealing wi

[2020-02-28 03:41] carlhiggs opened #22 ""... within 500 metres" - should this be < or <= 500?"
(not urgent - but good to be clear when we write papers)

Currently, the codes appear to implement as
access = (distance < 500)

e.g. when I run these queries, the maximum distance is 499 (after I have cast it as Int64):
[code]

I think there are some arguments for being slightly more lenient and evaluating access where the distance is 500 metres or less:
access = (distance <= 500)

Its slightly m

[2020-02-28 04:12] carlhiggs commented on #22
Okay --- the above is resolved, from my perspective; the Pandanas implementation is indeed seeking up to 500m, but I overlooked that in my casting from float to int that depending on how you do that impacts on whether 499.99999 is counted as '500' or '499'

[code]

And if you look at the distances returned from Pandanas calls, you see they go up to 500 in a continuous sense, and that's probably fa

[2020-02-28 04:12] #22 closed, assigned to nobody

[2020-03-01 23:00] carlhiggs opened #23 "SpatialVision implementation of street connectivity doesn't use 'clean_intersections_12m'"
It just occurred to me, looking over spatial vision's code, that it doesn't appear to use the clean intersections we pre-prepared; nor does it use OSMnx to re-generate these (that I can tell).

Here is the function they wrote:

[code]

So that appears to be naively taking the network nodes within the walkable neighbourhood subgraph of each node, and using these as though they represent street conn

[2020-03-01 23:11] carlhiggs commented on #23
okay - I might be being over-sensitive on a Monday morning and posting issues too soon before thought through, I think on re-reading the code, they are taking the intersection of the 1600m network with hexes and then using the pre-calculated intersection counts and densities I prepared as per [this post](https://3.basecamp.com/3662734/buckets/11779922/messages/2185927589).  So i'll close this issu

[2020-03-01 23:11] #23 closed, assigned to nobody

[2020-03-02 02:22] carlhiggs commented on #19
I've now re-calculated Bangkok using the sketch revised method (pushed up to 'full-distance-fix' branch of repository); only quickly looked at this so far, but want to share how this looks visualised using the full distance layer:

![image](https://user-images.githubusercontent.com/12984626/75637479-ce972980-5c7a-11ea-97f2-e2d4b27da86e.png)

In this image points with access within 500m are coloure

[2020-03-04 20:32] shiqin-liu commented on #19
Carl, thanks for these detailed explanations! I recognized this problem as I was testing out the Pandana method, but did not consider it further because we were also looking at the sausage buffer approach as an alternative for accessibility back then.  I understand why SV did that as that's a convenient way to accommodate the use of the Pandana package.  As we are heavily relying on the Pandana ap

[2020-03-04 20:51] shiqin-liu commented on #20
agree! will do

[2020-03-05 04:29] carlhiggs commented on #19
Hi Shirley, can you access the 'full-distance-fix' branch here?
https://github.com/gboeing/global-indicators/tree/full-distance-fix

[2020-03-05 21:49] shiqin-liu commented on #19
yes, I can! Thanks, Carl, I will check in detail soon

[2020-03-07 21:18] #1 closed, assigned to nobody

[2020-03-07 21:18] #2 closed, assigned to nobody

[2020-03-07 21:18] #3 closed, assigned to nobody

[2020-03-07 21:19] #5 closed, assigned to nobody

[2020-03-08 17:52] shiqin-liu commented on #19
Hi, Carl, I reviewed and tested your full distance approach, it works well. I am thinking the new codes could be simplified in some way, such as changing the sp field names in the config,  writing the new workflow into a function like `get_sp_poi_min_full_dist`, just to be consistent with our practice.  But I know these are sketch versions, and I assume you are still working on this.

Anyway, I ag

[2020-03-08 22:35] carlhiggs commented on #19
Hi Shirley,

Thanks for having a look at the code.

Regarding your question, as I was working on amending the sample point attribution of full distances, rather than just those of the nearest node (which may be hundreds of metres away), I realised that this is also a problem with the intersection and population density measures that were being attributed.

The simplest improvement that occurred to

[2020-03-11 00:22] carlhiggs opened #26 "All cities walkability should be based on weighted average of local 'all cities' walkability"
As per discussion with Shirley on Basecamp [here](https://3.basecamp.com/3662734/buckets/11779922/messages/2465025799), I believe we have identified that the city level walkability indices are being calculated incorrectly.

I think it would be useful to keep the initial important theoretical discussion on Basecamp so Billie, Jim and others are on board.  Then, we can have code related discussion h

[2020-03-11 14:44] shiqin-liu commented on #26
Thanks, Carl. So based on what you have said in basecamp (if I understand it correctly), we need to aggregate hex-level walkability relative to all cities based, weighted by population est at the hex level.
As you noted:

I think, I think an exisitng function [calc_city(gpkg_hex_250m, city, gpkg_input, config, gpkg_output)](https://github.com/gboeing/global-indicators/blob/6f172d39fd9ccf2d62e3ec6d

[2020-03-12 06:28] carlhiggs commented on #26
Hi Shirley,

Thanks - I think in theory it should!

In practice, I find the verbosity of the nested config file parameter names repeated throught SV functions in conjunction with their very non-linear and non-transparent function names make it hard for me to read (e.g. i had to read all the way to the very last line to confirm that it appears that they use the correct weighting variable ... but ha

[2020-03-12 16:29] shiqin-liu commented on #26
Hi, Carl,

I share the same concern with you while working on the docstrings and commenting. Current documentation makes the logic very hard to follow. The "pop_est" here is the hex-level population estimation within each specific city (in city-specific input geopackadge pop_ghs layer), so I think it does the job for calculating the "pop weighted" measures.

I will revise our codes following this

[2020-03-12 19:27] shiqin-liu commented on #26
A quick check with the above code gives me the expected result of walkability between cities for Bangkok (0.72):
<img width="579" alt="Screen Shot 2020-03-12 at 3 23 41 PM" src="https://user-images.githubusercontent.com/46453772/76559523-b773eb00-6475-11ea-97e3-06406d9e76c7.png">

[2020-04-03 15:01] shiqin-liu opened #31 "Refactoring project config"
In response to our early discussion on refactoring the config,  I have been working on creating a config python module to define project parameters and reduce the redundancies of the study region JSON file.

With that, I created [setup_config.py](https://github.com/shiqin-liu/global-indicators/blob/master/process/setup_config.py) to define general project parameters. We can run this script to prep

[2020-04-09 05:28] carlhiggs commented on #19
I have just pushed up a revision to the master branch, in a new branch 'full_dist_function' which I believe addresses the above issue (incorrect naive association of sample point with nearest node estimate) for distances and densities.  In addition the new fix does not remove the nan distance estimates since, as far as I can tell these only arise in cases of legitimate interpretation as "no access

[2020-04-09 06:14] carlhiggs commented on #19
I've just realised, differences in the full_dist_function branch include changed variable names; these were done in my draft script, and will cause issues if not accounted for in the aggregation script --- when implementing the function I overlooked the naming convention.  For now, I will leave this, as there were a few important changes and its important to make sure all are on board before accep

[2020-04-10 00:14] #20 closed, assigned to nobody

[2020-04-20 03:08] carlhiggs commented on #19
I have pushed up a version of the full_dist_function branch based on the new (current as of 20 April 2020) master.  However, there may be issues with the now retained estimates which were previously dropped -- I am not sure that there is anything amiss with the distance estimates for these, however, it appears that these nodes are associated with missing estimates for intersection and pop density

[2020-04-20 05:37] carlhiggs commented on #19
All of the dropped NA points in Vic are located on edges with 'oneway=True' ; that is, routing is being evaluated using a directed not undirected graph.

The failure occurs in the current implementation of calc_sp_pop_intect_density_single(), where the following code
`    # create subgraph of neighbors centered at a node within a given radius.
    subgraph_proj = nx.ego_graph(G_proj,

[2020-04-20 08:59] carlhiggs commented on #19
I've just verified for Vic that the new fix appears to resolve the issues observed (discontinuities in expected values, arising from some key nodes being omitted where they are located on edges tagged as oneway --- ie. a directed graph was being used instead of an undirected graph for evaluating the local neighbourhood).

The easiest way to view the difference for Vic is to compare two maps --- an

[2020-04-20 18:37] gboeing commented on #19
Given that our theoretical "agent" (i.e., traveler) in this study is an active traveler using nonmotorized transport, it seems reasonable that we make all the graphs undirected. The directionality constraints only really make sense if you're modeling driving trips that must obey directed travel. So I think your proposal makes sense!

My question is: why do we have directed graph models? If we are

[2020-04-21 00:19] carlhiggs commented on #19
Thanks Geoff,

We're on the same page re the theoretical freedom of walking!  Unfortunately, there are some snags in how I have implemented this, it turns out.

To answer your questions in reverse, the code is in the 'global' branch of the Bangkok bitbucket repository which I believe I have previously granted you access to; in particular, https://bitbucket.org/carlhiggs/ind_bangkok/src/global/proc

[2020-04-21 02:56] gboeing commented on #19
No worries! Let's think this through...

I think your first option makes the most sense. By the way, a related option would be to specify a `custom_filter` to include all traditionally walkable routes + all cycleways and then specify `network_type="walk"` to make the entire graph bidirectional. This is all feasible with OSMnx natively as-is. See here for example: https://github.com/gboeing/osmnx/i

[2020-04-23 23:16] carlhiggs commented on #19
Thanks Geoff -- good points, it makes sense you've thought through these issues before.  That totally makes sense now that network type can still be used to define directionality with a custom filter as an override --- I should have posted that question back in 2018 myself!  I'm glad that for now it seems that we can still use the already processed resources without having to re-do these, but I'll

[2020-05-15 16:35] gboeing opened #35 "Validation: semester wrap up"
@thuanguy: to-do list to wrap up the semester's validation work

  - [x] consolidate official dataset files w/OSM files into a shared folder for reproducible validation (and update readme with link to it)
  - [x] create poi findings readme
  - [x] turn edge findings readme Table 2 into a markdown table

Ping me whenever you open the PR to close these issues! Thanks.

[2020-05-21 17:42] gboeing commented on #35
Closed by #37

[2020-05-21 17:42] #35 closed, assigned to nobody

[2020-05-21 23:14] gboeing opened #38 "Finishing validation"
Opening an issue to document ideas. What can we do to make the validation most helpful for the policy team prior to hand-off?

It'd be helpful if everyone could peruse the current `/validation` folder and add comments here regarding:

  - suggestions for additional analyses to complete
  - tweaks to existing analyses
  - interpretations of the how the OSM data align with the official data

for Nic

[2020-06-10 04:25] DRosasMoctezuma opened #47 "OSM validation literature review"
We are opening an issue to document, propose, and discuss any prior literature work.

Which articles can help solidify the quality analysis framework for this project?

It would be helpful if everyone can add comments here regarding:

- Discussion and proposal of previous literature work

- Quality assessments of OSM datasets literature

[2020-06-11 23:11] carlhiggs commented on #19
Hi all - as follow up, I believe the 'full_dist_function' branch is ready to be pulled (as of 20 April), however as this is an upstream script to the aggregation scripts I think it would be useful if others assisted to help confirm that the final data structure don't cause unintended conflicts.  I will attempt to look at this today, but I would appreciate if others could consider this too.   (Plea

[2020-06-11 23:19] gboeing commented on #19
@carlhiggs are you going to open a PR for everyone to review the diff? Or what other assistance would you need?

[2020-06-11 23:32] carlhiggs commented on #19
I've just made the pull request for full_dist_function to make it easier for others to review; it looks like there aren't overt conflicts which is great.  But I anticipate we may have to tweak things to avoid conflcits at the aggregation end.

[2020-06-11 23:34] gboeing commented on #19
Thanks @carlhiggs. For reference his PR is #48.

[2020-06-12 00:07] DRosasMoctezuma commented on #47
The world's user-generated road map is more than 80% complete
https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0180698&type=printable

Extending Processing Toolbox for assessing the logical consistency of OpenStreetMap data
https://onlinelibrary.wiley.com/doi/epdf/10.1111/tgis.12587

Quality Assessment of the French OpenStreetMap Dataset
https://onlinelibrary.wiley.com/doi/ep

[2020-06-12 00:14] carlhiggs commented on #19
Thanks @gboeing ; this is the first project where I've worked with others actively contributing to code in this way (I've mostly been sole contributor to repository, so reviewed and merged branches directly), and so I am learning the etiquette of pull requests etc and "@"ing.  Thanks for bearing with me.

[2020-06-12 01:00] gboeing commented on #19
no worries!

[2020-06-12 02:06] carlhiggs commented on #47
There's a book on OpenStreetMap in GIScience from 2015 which contains a number of articles which may be relevent e.g. re data quality, inference of land use, and use in network routing:
https://link.springer.com/book/10.1007%2F978-3-319-14280-7
https://doi.org/10.1007/978-3-319-14280-7

This article looks at OSM validity with regard to neighbourhood socio-economic clustering (poorer neighbourhoods

[2020-06-12 02:59] carlhiggs commented on #38
@gboeing  @shiqin-liu @duelran @nicholas-david @Dmoctezuma80

Great work preparing the validation resources and analysis Thu, Nicholas and David,

Here are my preliminary thoughts,

1) Ensure we make fair comparison with regard to study region extent --- we should include the urban study region boundary as a reference area in the maps we display

For Belfast

- note typo referencing Olomouc in tex

[2020-06-12 03:14] carlhiggs commented on #38
Regarding the edge validation, I think the comparisons made are good.  My thoughts on extending this are

1) Comments from above re: grayscale basemap, accessible colours, and legends distinguishing comparison groups (OSM-derived and official network) apply (e.g. in the case study snapshots)

2) Can we confirm that the case studies are conducted with the all roads dataset, not the pedestrian datas

[2020-06-12 03:36] carlhiggs commented on #31
Apologies for not commenting sooner Shirley; I think this is great, since as you point out many of the parameters are project- not city-specific.  I think this is a useful tool; thanks for taking the time to code it!

[2020-06-12 04:25] carlhiggs commented on #38
Regarding the representation of private access ways, I believe these may be systematically excluded even in the OSM all roads network type, hence explaining why in the Belfast case studies the private service roads and industrial roads are not represented.

I was a bit curious, so found the 'castle' example on OSM,:
![image](https://raw.githubusercontent.com/gboeing/global-indicators/master/valida

[2020-06-12 04:37] carlhiggs commented on #38
Just to provide more confirmation on the above, the service roads in the above image are tagged as 'access=private' so it does make sense they were excluded as per the OSMnx default behaviour (even on all roads network type):
![image](https://user-images.githubusercontent.com/12984626/84465355-21d93900-acba-11ea-9f29-9e816ace6d0c.png)
https://www.openstreetmap.org/way/35905654

[2020-06-12 04:39] gboeing commented on #38
@carlhiggs I agree that this is the right approach. FWIW there's another predefined OSMnx `network_type` "all_private" that includes private ways too. But I believe they should be excluded in any analysis of public accessibility because they are definitionally not public.

[2020-06-12 16:44] shiqin-liu commented on #38
Thanks for all the great work! I think Carl's comment is already really comprehensive. I do not have much to add on the edge validation. For POI validation, I agree with Carl's point on "making fair comparison" and  "running comparative analysis" between official and OSM derived datasets.

As Thu pointed out in her summary, one major problem of POIs validation is that we are comparing different de

[2020-06-15 11:23] duelran commented on #38
Following on from other's feedback (and thanks @carlhiggs for going the extra mile with this), I'll add three points that I think are worthwhile considering.

**1.	As comparable as possible**

Wherever possible, we should aim to ensure that we are conducting an “apples with apples” comparison.  Whenever we display a map, there is an implicit assumption that this has been done already by the map cr

[2020-06-15 18:13] gboeing commented on #38
Thanks @duelran @shiqin-liu @carlhiggs. Your thoughtful comments are much appreciated and line up with a lot of my own suggestions for moving forward here. I'm going to compile a short summary of bullet points and ideas here for validation work over the coming month:

1. Clean up OSM/official data terminology. I propose something like "our destination dataset" to mean "a dataset of points of inter

[2020-06-15 21:32] gboeing commented on #47
@DRosasMoctezuma in your 2nd comment above on this issue, can you edit to just link to those papers via DOIs rather than uploading the files to the issue?

Also this may be relevant: https://arxiv.org/pdf/1909.04323v1.pdf

[2020-06-19 17:30] gboeing opened #50 "validation readme"
@nicholas-david it looks like the [readme](https://github.com/gboeing/global-indicators/blob/master/validation/readme.md) in the validation folder is outdated? It references downloading data from the google drive rather than cloudstor, and its directions are unclear as to how to organize the downloaded files to run the validation notebooks.

[2020-06-19 19:03] gboeing commented on #50
Oh also: do you know why the file is called `belfast_gb_2019_10000m_all_osm_20190902.graphml.xml`? That's a graphml file, not an xml file... but someone gave it an xml file extension... any ideas?

[2020-06-19 19:52] nicholas-david commented on #50
You are right, I will update the readme before Monday.

And I changed it to have the .XML because that is what the file is called on my machine. I am not sure why my file changed though.

Please let me know if there is anything else I can do for Monday.

[2020-06-19 19:57] gboeing commented on #50
Thanks! I'm taking a pass through code clean up in #51. I'll ping you there when the progress is wrapping up so you can take a look.

[2020-06-19 21:51] DRosasMoctezuma commented on #38
**_Investigating the Completeness and Omission Roads of OpenStreetMap Data in Hubei, China by Comparing with Street Map and Street View_**
https://arxiv.org/ftp/arxiv/papers/1909/1909.04323.pdf
This study investigates the completes of OpenStreetMap (“OSM”) road datasets in Hubei, China. Using both Street Map and Street View, they focus on determining OSM road completeness and omission roads. An om

[2020-06-20 03:13] gboeing commented on #47
@DRosasMoctezuma can you make sure all of the material from this thread is in https://github.com/gboeing/global-indicators/issues/38#issuecomment-646872959? Thanks!

I'm going to close this issue in favor of consolidating at https://github.com/gboeing/global-indicators/issues/38#issuecomment-646872959

[2020-06-20 03:13] #47 closed, assigned to nobody

[2020-06-20 03:20] gboeing commented on #50
Ok, it turned into a bigger refactoring project, but #51 is done and merged. @nicholas-david and @DRosasMoctezuma could you please both review the newly updated [edge validation folder](https://github.com/gboeing/global-indicators/tree/master/validation/edge) anytime prior to next Monday's zoom? I had a re-think of how we were doing it and made a few changes including:

  - no more notebooks: a si

[2020-06-20 03:41] DRosasMoctezuma commented on #38
Imported comment by  @carlhiggs from #47
There's a book on OpenStreetMap in GIScience from 2015 which contains a number of articles which may be relevent e.g. re data quality, inference of land use, and use in network routing:
https://link.springer.com/book/10.1007%2F978-3-319-14280-7
https://doi.org/10.1007/978-3-319-14280-7

This article looks at OSM validity with regard to neighbourhood socio-e

[2020-06-20 20:39] nicholas-david commented on #50
@gboeing What was the reasoning behind moving the configuration folder? For reproducing this for the destination validation, there are different configuration files that we need. The currently exist in the destination folder.

[2020-06-20 21:38] gboeing commented on #50
Yep. I haven't taken a crack at revising the destination folder yet, but the configs in `/validation/destination/configuration` can be merged into the files in `/validation/configuration` so we have unified configuration files.

[2020-06-21 00:21] gboeing commented on #50
@nicholas-david this is now finished and merged into master via #52

[2020-06-22 06:21] DRosasMoctezuma commented on #38
**_How good is volunteered geographical information? A comparative study of OpenStreetMap and Ordnance Survey datasets_**
https://journals.sagepub.com/doi/pdf/10.1068/b35097
The study analysis focuses on London and England, since OSM started in London in August 2004. The analysis focuses on analysis of its quality through a comparison with Ordnance Survey (OS) datasets. An evaluation of the positi

[2020-06-22 17:15] gboeing commented on #50
@nicholas-david I forgot to mention it on the call, but renaming the XML files (see top of this issue) is also an action item for this week. @DRosasMoctezuma would you like to tackle that? You'd have to:

  1. Rename all the `*.graphml.xml` data files to just `*.graphml`
  2. Update the validation/configuration json files to point to their correct renamed paths
  3. Open commit the edited configur

[2020-06-22 20:53] #50 closed, assigned to nobody

[2020-06-24 17:18] DRosasMoctezuma opened #55 "Validation Data Organization"
I had a question regarding the validation data folders. During our meeting we discuss setting up the data on a root folder for the script to run (unzipping it first). I finished a script to unzip the data folders once the user downloads it to their own computer from the root folder. Do we need the script to be added to the main edge_validation py? Should we include all the data into different fold

[2020-06-24 17:39] gboeing commented on #55
cc @nicholas-david

[2020-06-24 17:50] gboeing commented on #55
@DRosasMoctezuma thanks! A couple thoughts off the top of my head...

This script may be useful, though not necessary. I sometimes like to use scripts like this to simplify the downloading/extracting of archived data files that I don't want to keep on my local hard drive (especially if I'm in a folder in Dropbox or somesuch that soaks up personal cloud storage space).

However, I think this script

[2020-06-25 19:46] nicholas-david opened #56 "Olomouc Official Edge Data"
David and I have been looking through the data on Cloudstor, and we are unable to find the official data for Olomouc's edges. For Olomouc's official data, we were only able to find supermarket destination data. Is anyone able to send the original official data for Olomouc?

@gboeing @carlhiggs

[2020-06-25 20:15] gboeing commented on #56
I see it on cloudstor...

Go to the URL for "Official Data for Phase II Validation" then browse to `/edge validation/Olomouc/olomouc_edges.*`

[2020-06-25 20:19] nicholas-david commented on #56
@gboeing It seems that is not the official data. From the OSM geopackage, we were unable to load the edges for some reason. We were able to load the sample points as a proxy to the edges.

When plotting the sample points and the data from  /edge validation/Olomouc/olomouc_edges.* , they still matched up perfectly, leading us to believe that  /edge validation/Olomouc/olomouc_edges.* is actually the

[2020-06-25 20:19] gboeing commented on #55
Looking at the folder structure on cloudstor, it might be even easier than that...

Let's say the process for getting the data becomes you just log into cloudstor, click "download", then extract that zip's contents to /validation/data/. @DRosasMoctezuma then you'd just have to update all the validation config files to point to the correct locations in that structure that already exists.

This is p

[2020-06-25 20:23] nicholas-david commented on #38
@carlhiggs @shiqin-liu I am currently pairing the data down to make it more of an apples to apples comparison. I wanted to check, however, what are the specific destinations we are looking for? For example, are we looking for supermarkets, convenience stores, open-air markets, etc?

[2020-06-25 20:29] gboeing commented on #56
@nicholas-david ah, got it. Ok that's a question for @carlhiggs then...

Carl, the "official" Olomouc edges shapefile on cloudstor is a perfect 1:1 match with the OSM edges data. This leads us to believe that it is not the true official data, but is simply a mislabeled copy of the OSM edges data. Can you double-check this for us, and perhaps update the "official" edges on cloudstor with the correc

[2020-06-25 21:17] shiqin-liu commented on #38
For food destinations, in this project, we specifically look at two major categories, fresh food market and convenience stores. So you can count supermarkets, convenience stores, grocery, open-air markets, etc. The destination categories names in the official data are not fully aligned with what we used to retrieve the OSM destinations dataset(using the key-value tag system). So maybe you could co

[2020-06-25 23:36] carlhiggs commented on #56
Hi all,

I'm not sure what is up with the data that is there, but I have just uploaded the original zip file provided by the collaborator Jan Dygryn for Olomouc street network data.  I also uploaded the street network data which was uploaded for Hanoi --- there may be good reasons this wasn't used previously, but in case it was overlooked I thought it worth also locating this in the edges folder s

[2020-06-25 23:38] gboeing commented on #56
@nicholas-david can you check these new files from Carl? If the Olomouc edges still look wrong, we can follow-up with Thu to see if she has the originals and got things mixed up on her end.

[2020-06-25 23:41] DRosasMoctezuma commented on #56
@gboeing I'll take a look at the Olomouc data.

[2020-06-25 23:45] carlhiggs commented on #56
I can confirm that the collaborator provided data appears different to that provided in the olomouc_edges.shp file --- on cloudstor and google drive the file sizes of that shapefile are in accord; however, they are much larger than those of the official network data:

![image](https://user-images.githubusercontent.com/12984626/85806119-881d8b80-b791-11ea-83bb-27a696367845.png)

Without looking at

[2020-06-26 15:56] gboeing commented on #56
@carlhiggs thanks for tracking this down. Given that you appear to have the *correct* official Olomouc edges shapefile on your hard drive, would you mind uploading to the cloudstor validation data folder and replacing the incorrect edges shapefile there?

[2020-06-27 04:53] carlhiggs commented on #56
Hi @gboeing , assuming you are refering to the zip file provided by Jan Dygryn, I posted it on Cloudstor before making my initial post above.
![image](https://user-images.githubusercontent.com/12984626/85914867-a95fa400-b885-11ea-8c4b-a525c0b3d5bd.png)

Please let me know if I'm misunderstanding what you mean, but I think this is what you are asking for and it is already there.  I assume Thu was u

[2020-06-27 04:56] carlhiggs commented on #56
I didn't remove the previous file that appears incorrect 'olomouc_edges' - and I don't think its necessarily a good idea to rename the official data to match that name construct.  I or others can delete this once what you need is sorted (I believe you all have edit and upload privileges).

[2020-06-27 05:00] gboeing commented on #56
Ah yes thanks Carl. I missed that detail earlier in my haste. Sorry.

@DRosasMoctezuma can you check that data file on Monday (by running the edge validation script with all the correct data files now) and verify we're all good now?

[2020-06-27 05:03] DRosasMoctezuma commented on #56
Thank you @carlhiggs @gboeing I will check the data file prior to our Monday meeting.

[2020-06-27 05:04] gboeing commented on #56
@DRosasMoctezuma thanks. Remember we pushed our team meeting to Tuesday next week.

[2020-06-27 05:19] carlhiggs commented on #38
Hi both, @nicholas-david @shiqin-liu , I just shared the link via an e-mail you should receive shortly

[2020-06-30 16:13] #55 closed, assigned to nobody

[2020-06-30 16:13] #56 closed, assigned to nobody

[2020-07-02 19:35] nicholas-david opened #57 "Destination Validation: Paring Down"
Hey everyone,

David and I have been looking closer into the official datasets from Sao Paulo, Olomouc, and Belfast. Right now, we are trying to 'pair down' the datasets so that we are able to make more 'apples to apples' comparisons between the official and OSM derived datasets.

**Sao Paulo:**
Sao Paolo's official dataset has 939 destinations (point data) as shown below.

![SaoPaulo](https://use

[2020-07-02 21:41] gboeing commented on #57
What about adding a dict to the json configs like this:

[code]

For each city's json file, the "field_name" would be the column in the shapefile to identify destination types. Multiple can be added to that dictionary. Its value is a list of acceptable values in that column to retain. If is is `None`, then retain all rows. That allows the code to stay agnostic to the structure of the shapefiles fo

[2020-07-02 22:57] gboeing commented on #31
@shiqin-liu I noticed this issue was still open. It appears to have been resolved by #30, correct? If so, that PR has been merged, so is it ok to close this issue now?

[2020-07-02 22:58] carlhiggs commented on #19
I believe this issue has been addressed by the full distance function branches which have since been merged into master; so, marking as closed.  Thanks!

[2020-07-02 22:58] #19 closed, assigned to nobody

[2020-07-02 22:58] carlhiggs commented on #21
I believe this issue has been addressed by the full distance function branches which have since been merged into master; so, marking as closed.  Thanks!

[2020-07-02 22:58] #21 closed, assigned to nobody

[2020-07-02 22:58] carlhiggs commented on #26
This issue has been addressed by the full distance function branches which have since been merged into master; so, marking as closed.  Thanks!

[2020-07-02 22:58] #26 closed, assigned to nobody

[2020-07-02 23:55] shiqin-liu commented on #31
Yes! I think we can this issue.

[2020-07-02 23:55] #31 closed, assigned to nobody

[2020-07-03 00:19] shiqin-liu opened #58 "Update CRS format from '+init=<authority>:<code>' to '<authority>:<code>'"
As I mentioned in PR #49, there is a warning message when running the current workflow:

[code]
In future work, we should use for example "to_crs": "epsg:7845" but not "to_crs": { "init": "epsg:7845" } to define projection, as the warning suggests. I updated all the CRS format in the current GitHub workflow, but the warning message is still there. So there should be some old-style "init" in the da

[2020-07-10 17:40] gboeing commented on #57
@nicholas-david what's the status of this issue?

[2020-07-10 17:49] nicholas-david commented on #57
@gboeing Hey, I am working on this now. I have created the dictionaries in the config files, but I am having a hard time getting these dictionaries to actually apply to the datasets.

[2020-07-10 18:47] gboeing commented on #57
closed by #64

[2020-07-10 20:13] gboeing commented on #57
@nicholas-david I fixed the destinations col/val filtering you got stuck at in #65. It works for Sao Paulo. Can you propagate this solution to the other json config files and ensure it's working across all destination validation cities?

[2020-07-22 19:11] shiqin-liu commented on #38
Hi, all, as I am checking on GTFS and OSM public transport POIs, I thought of validating OSM transport points with GTFS datasets applying your current destination validation method. But later I realized GTFS may not be viewed as official datasets (?). I hesitate about using GTFS data to "validate" OSM public transport data (as part of phase II validation plan), since our initial plan is to use GTF

[2020-07-22 19:18] gboeing commented on #38
@shiqin-liu yes I think so. The code should be relatively easily adapted. You can find it [here](https://github.com/gboeing/global-indicators/blob/master/validation/destination/destination_validation.py).

[2020-07-24 18:43] gboeing commented on #57
@nicholas-david did the PRs we merged this week fully resolve this issue? If so, you can close it.

[2020-07-27 16:06] #57 closed, assigned to nobody

[2020-07-27 16:22] gboeing commented on #38
I'm going to hold this issue open until the end of this week. Coming out of our call this morning there are two final action items prior to closing this:

  1. @nicholas-david and @DRosasMoctezuma will generate simple "validation results metadata" tables in the readme files to document the validation results fields and their interpretation.
  2. @nicholas-david and @DRosasMoctezuma will each test

[2020-08-03 22:37] gboeing commented on #38
I'm marking this as "complete" now. Thanks team!

[2020-08-03 22:37] #38 closed, assigned to nobody

[2020-08-04 02:25] gboeing opened #77 "[BUG] writing to wrong geopackage file?"
@shiqin-liu there appears to be a bug in `/process/sp.py` on [this line](https://github.com/gboeing/global-indicators/blob/48a2ed667dd78ba6eed3817a66aa68328c665d72/process/sp.py#L307), but I want to confirm with you.

Specifically, it saves the "samplepointResult" results layer to `gpkgPath` rather than `gpkgPath_output`. This means that the results are being saved to the input file, such as `olom

[2020-08-04 02:27] gboeing commented on #77
Proposed fix in e3667b2 which I've included in PR #76.

[2020-08-04 03:58] gboeing commented on #77
Ok just finished testing the proposed fix and can confirm `aggr.py` works now.

[2020-08-04 19:34] shiqin-liu commented on #77
Yes! the output should be saved in gpkgPath_output. Sorry, I just see that, it looks like you fixed this, Thanks!!

[2020-08-04 19:35] #77 closed, assigned to shiqin-liu

[2020-08-10 15:27] #58 closed, assigned to nobody

[2020-08-12 20:22] nicholas-david opened #79 "Official Destination Data"
Hi All,

For the destination data received from Olomouc and Sao Paolo, are we aware of how the destination was chosen to be represented? For example, does each point represent the centroid of the parcel that the destination lies within?

[2020-08-12 23:35] gboeing commented on #79
I'm not sure. But that'd be my guess. @carlhiggs any ideas?

[2020-08-13 02:58] carlhiggs commented on #79
Hi Nick, sorry for delay on response --- it wasn't specified, but where the data are point data, it is assumed they are centroids (e.g. as doorways would be implausibly precise to represent; if not centroids, it is assumed the difference would be arbitrary).

Looking at the data from Olomouc just now, it looks like these are points; whereas the shape of the data provide from Sao Paulo depended on

[2020-08-13 03:02] carlhiggs commented on #79
Also, here are metadata for the Olomouc POI data (which is associated with a category variable ID_KAT; this is explained in English in this file):
[Olomouc_POI_2011_ID_Categories_explanation - Jan DYGRÝN.docx](https://github.com/gboeing/global-indicators/files/5066921/Olomouc_POI_2011_ID_Categories_explanation.-.Jan.DYGRYN.docx)

[2020-08-13 03:05] carlhiggs commented on #79
Apologies for repeat answers --- but worth noting the time points for data; the metadata for Olomouc was for the 2011 POI file, but I believe for validation you used the 2018 supermarkets specific data.   For Sao Paulo, dates for various datasets are provided in the Excel spreadsheet; grocery stores also seem to be 2018 for Sao Paulo.

[2020-08-14 06:29] carlhiggs opened #80 "Probably unimportant, but warning message when running git pull re absent ref"
When running the docker batch script which included a git pull command, the warning came up

_Your configuration specifies to merge with the ref 'refs/heads/full_dist_function' from the remote, but no such ref was fetched._

I expect this probably isn't an issue that will impact things, but in case it hadn't been noted, sharing here (not sure how to address this myself).

[2020-08-14 14:28] gboeing commented on #80
If you checkout master locally, then git pull does that fix it? That branch was merged and deleted at the remote so the warning makes sense.

[2020-08-15 11:42] carlhiggs commented on #80
Thanks Geoff --- sorry, I didn't realise that I probably wasn't on master; you're right that was likely the last branch I was on, hence error -- i'll close this!

[2020-08-15 11:42] #80 closed, assigned to nobody

[2020-09-08 04:57] carlhiggs opened #89 "City level all cities walkability (should be average and population wgt average of hex level results)"
It has been noted that all_cities_walkability at city level is still based on sum of marginal  z-scores (street density, intersection density, daily living score), rather than two seperate measures for average and population weighted average of the hex-level sums of z-scores.

As per this post
https://3.basecamp.com/3662734/buckets/11779922/messages/2465025799
it was agreed we would calculate both

[2020-09-08 05:02] carlhiggs opened #90 "Weighting of measures should use population estiamtes, not sample points"
It appears that sample points are being used for weighting of population percent access measures, rather than population (at least in the language of the functions).  It will be good to verify that we are usuing population estimates, not sample point counts, to weight our indicators.  While these may be correlated in some instances, sample point counts are a direct function of road length (generat

[2020-09-08 05:26] carlhiggs commented on #90
Apologies, I believe this is a false alarm --- where I saw "sample point weighting" written, I mistakenly believed this was being done instead of population weighting --- working through the code manually, I see that population weighting was indeed implemented.  Closing this false alarm.

[2020-09-08 05:26] #90 closed, assigned to nobody

[2020-09-08 07:54] carlhiggs commented on #89
Hi @shiqin-liu  and @gboeing , I believe this issue is resolved in latest push to sp_gtfs branch.  Just running code to verify that unweighted averages of the walkability related indicators (both local, and relative to all cities) are appended to the all cities geopackage layers as intended (but interactive run through of code suggests it works).

It has been a long day, and in my mind I am still

[2020-09-18 04:14] #89 closed, assigned to nobody

[2020-09-18 04:14] carlhiggs commented on #89
I believe this is sorted in the sp_gtfs branch, so closing

[2020-09-18 04:16] carlhiggs commented on #79
hi @nicholas-david , not sure if you saw these responses when posted last month - just flagging in case these were missed!

[2020-09-18 16:08] gboeing commented on #79
Thanks Carl. Nick can you verify that any relevant details in these metadata appear in the validation report? Thanks!

[2020-09-18 21:43] nicholas-david commented on #79
Thanks Geoff! Will do. Just a heads up, I will not be as contactable or put as much time in this weekend for the High Holidays. Have a nice weekend!

[2020-09-27 22:24] #79 closed, assigned to nobody

[2020-10-14 00:46] gboeing opened #94 "attach air pollution data to per-city indicators"
@carlhiggs on the call today I was reminded that we still need to attach the city-level air pollution data to our indicators output. The relevant variables would be:

  - E_EC2E_T15
  - E_EC2O_T15
  - E_EPM2_T15
  - E_CPM2_T14

You have a local copy of the urban centers database, right? If so would you mind quickly attaching those columns from it to our indicators output in the code?

[2020-10-14 01:42] carlhiggs commented on #94
Hi @gboeing,

Sure happy to do this - perhaps the easiest way might be to retrieve it for
those cities where it's available (all but Vic, I think, which I guess
could have a null instead) as a summary statistic in the urban study region
layer in the pre process stage, so it's there in the input gpkg to be
excerpted later when doing the aggregation stage?

Anyway, I agree it shouldn't take long to

[2020-10-14 02:39] gboeing commented on #94
Sounds great. Thanks!

[2020-10-23 09:14] carlhiggs commented on #94
Hi @gboeing , I've just pushed up changes to the reparameterise_1k branch which includes the urban covariates when producing the final outputs.  I made a few additional simplifications along the way, and I'll check the output properly on Monday - but just wanted to let you know that this seems to be working now, pending final verification.

After having a quick look at the output, and following a

[2020-11-03 23:55] carlhiggs commented on #94
This has been done!

[2020-11-03 23:55] #94 closed, assigned to nobody

[2020-12-12 21:57] nicholas-david opened #105 "Process Issues"
@carlhiggs

At the moment trying to run the process from start to finish and running into a few kinks.

1. When running the setup_config script, I receive the following error:

2. I had the config files saved somewhere else on my computer so I tried to continue to the next step. I ran python sp.py adelaide and got the following error:

So, I changed line 50 to .json instead of .py and switched con

[2020-12-12 21:58] nicholas-david commented on #105
Do you know what the issue is?

[2020-12-14 00:44] carlhiggs commented on #105
Hi @nicholas-david, regarding your points

1) it's true that the file ./process/data/GTFS/gtfs_config.py is currently coded as a dependency in setup_config.py.  The file is currently retrievable from the input data folder for GTFS on CloudStor; however, I just added this file into a commit to the global indicator master branch.  Of course, the GTFS input data will still need to be retrieved.  An o

[2020-12-14 03:16] nicholas-david commented on #105
Hey @carlhiggs ,

Thank you for the updates. That makes sense. I merged from the branch and that seemed to fix up the issue with the setup_config. I ran the sp.py for Adelaide, and it successfully made a gpkg and received the following

[2020-12-14 03:17] nicholas-david commented on #105
When I tried to use the process_regions shell, however, I got the following error:

[2020-12-14 04:14] carlhiggs commented on #105
Hi @nicholas-david,

The first issue

relates to the first issue in the post above --- it doesn't sound like you've downloaded the GTFS input data that is required to run the process.  I added the folder and config script to the respository, but it still requires the GTFS frequent transport data be present.

I believe you have access to the CloudStor "Global Indiactors - data" folder where inputs

[2020-12-14 05:14] gboeing commented on #105
@nicholas-david in the meantime if you're using sublime you can convert windows line endings -> linux in one of the menus.

[2020-12-14 23:02] carlhiggs commented on #105
As an aside regarding the "'VirtualXPath' [XML Path Language - XPath]" output noise, that seems like a recently introduced artifact which arises through use of the geopackages / spatialite format ie. when data is read in or written --- it didn't produce this output earlier in the year, but others have noted it in posts as unwanted noise, and there doesn't seem to be clear guidance on how to suppre

[2020-12-14 23:06] gboeing commented on #105
@carlhiggs yeah I've been dealing with that CLI noise across all my projects over the past month or so... it's pretty annoying. I'm hoping dependency version bumps in coming months resolve it.

[2020-12-19 02:45] #105 closed, assigned to nobody

[2020-12-19 05:01] nicholas-david opened #106 "Process: Aggregation"
@gboeing @carlhiggs

I am running the aggregation script for 10 cities. The code is not completing though, this is what I am getting

Do you know why this is happening? I downloaded the GTFS data and the input data from the cloudstor, so I am not sure what is happening. Thanks for the help

[2020-12-19 05:41] carlhiggs commented on #106
Hi @nicholas-david ,

I reckon double check that the sp.py process has worked as intended before running the aggregation script.  It says "null layer:
samplePointsData'", which implies that the sp.py process has not worked as intended for at least one of your cities.  I couldn't say why, but if looking at the apparent outputs from sp.py you find that the required inputs to the aggregation script a

[2020-12-19 05:42] carlhiggs commented on #106
It might be worth closing or renaming the issue if it doesn't relate to aggregation

[2020-12-27 19:16] nicholas-david opened #107 "Process: Running the Largest Cities"
@gboeing @carlhiggs

I have been able to successfully run through the process for 22 out of the 25 cities, and I have been able to run aggregation script for those 22 cities. Melbourne, Mexico City, and Seattle have not been running for me. I do not reach any error codes, but the code stops running and starts the next city after around 50-90 percent of the nodes are completed. The three cities hav

[2020-12-27 19:16] #106 closed, assigned to nobody

[2020-12-28 05:51] nicholas-david opened #109 "Data Organization"
@gboeing @carlhiggs

For the process data, the data organization on cloudstor is a little confusing. I think it would be positive if all the data could be downloaded in one click. That would involve moving the old input data out of the input folder, and incorporating the most recent GTFS data into the input folder. Please let me know your thoughts. I will make sure to update the documentation acco

[2020-12-28 17:55] gboeing commented on #107
Looks like this is an out-of-memory issue so I'm going to close this.

[2020-12-28 17:55] #107 closed, assigned to nobody

[2021-02-18 19:10] shiqin-liu opened #111 "Add custom linear distance decay function for accessibility measures"
The current accessibility method takes the binary approach with hard threshold, which take a rectangular function assuming the value 1 if included in a pre-defined threshold and the value 0 if not (refer [here](https://github.com/global-healthy-liveable-cities/global-indicators/blob/5e2c1133cabd7d740a00e4969cc1ddfd5f961701/process/sp.py#L283) to the code). This method is appropriate for our purpos

[2021-02-18 23:20] carlhiggs commented on #111
Hi Shirley,

I'll be back off leave from Monday, but just saw your email so thought I'd
give quick jot of thoughts --- in short, I think our parsimonious approach
is justified given our study aims.  I'm writing this from a mobile phone,
sorry if there are predictive text errors!

I think the use of continuous measures is really important in certain
contexts, particularly when accurate measurement

[2021-02-19 16:40] shiqin-liu commented on #111
@carlhiggs Thanks for the quick reply! I totally agree that we should defend ourselves that binary measure is a preferable method for the study (the case study), based on all the reasons you mentioned. And yes, this is one issue raised by the reviewers asking if we can look into more refined methods like a gravity model or distance decay. My initial thought is, if this is easy to do (also suggeste

[2021-02-19 21:12] carlhiggs commented on #111
Hey Shirley,

I think if we want to implement this for other to use, it shouldn't be too
hard (ie. not an issue for full distance function, composite indicators or
aggregation).

The most straightforward way might be:

1) user must specify minimum traversal distance appropriate to their
maximum accessibility threshold (if these vary by destination).  This will
depend on the formula used (we could

[2021-02-21 18:13] shiqin-liu commented on #111
Thanks Carl! I may have overthink some processes. You are correct that changing the method would not affect the aggregation and full distance operation. Below are the three methods I think may be appropriate to use, written in functions, the first is the binary one we used, the second and the third are the two methods I cited at the beginning:

1) Cumulative opportunities (binary)
 1 if d <= acces

[2021-02-23 02:49] carlhiggs commented on #111
Hi @shiqin-liu ,

Thanks for taking the lead on this and drafting the functions --- they look good.

I've just had a review of the pull request changes, and had a few suggestions.  My comments may have been disjointed there so will respond here.

My main two thoughts on amending these are

- we should provide guidance on sensible default values of k for a given access distance threshold (e.g. k=5

[2021-03-09 14:36] shiqin-liu commented on #111
closed by #112

[2021-03-09 14:36] #111 closed, assigned to nobody

[2021-04-19 17:12] gboeing commented on #109
@carlhiggs @nicholas-david does this issue remain open or should we close it out?

[2021-04-19 23:34] carlhiggs commented on #109
Hi @nicholas-david @gboeing , Apologies if my response to this issue was lost in the summer leave period over Christmas/New Years; I remember seeing it at some point and intending to respond.  I had some memory we had discussed this but having said that it seems I haven't responded here and I couldn't find anything in e-mails.

Currently the CloudStor folder for the Global Indicators data looks li

[2021-04-19 23:37] gboeing commented on #109
Let's leave it as is.

I think that's a great idea, assuming any partner-provided data are shareable.

[2021-04-19 23:52] carlhiggs commented on #109
Thinking further about this, the empty 'study_region' folder on CloudStor reminded me about a slight dis-junct between the 'pre-process' and 'process' steps, which we could address to make things clearer.  The pre-process step exports geopackages to a sub-folder 'study_region', which I think makes more descriptive sense than 'input' (because as you point out @nicholas-david, most of the resources

[2021-04-20 03:46] gboeing commented on #109
Sounds like a good idea.

[2021-04-20 04:26] shiqin-liu commented on #109
Sounds good to me too :)

[2021-04-22 04:41] carlhiggs opened #116 "Security vulnerability in Pillow < 8.1.1"
Hi all (esp. @shiqin-liu and @gboeing !)

I just received a security warning for the Docker requirement to use Pillow 8.0.*; apparently for versions less than 8.1.1 there's  a vulnerability in the regex code that can be exploited by a malicious pdf.

I don't see it being an issue for the project per se, except that its a bad look having a dependabot warning on the repo page

I was just making thos

[2021-04-22 07:55] carlhiggs commented on #109
Great! I committed changes for this earlier today, as per above.  In advertantly, as per message elsewhere i did this to the main branch.   The data on CloudStor has been simplified as discussed too. So I think we can close this, and I'll do that now.

[2021-04-22 07:55] #109 closed, assigned to nobody

[2021-04-22 07:58] carlhiggs commented on #116
I committed changes for this earlier today, as per above.  In advertantly, as per message in https://github.com/global-healthy-liveable-cities/global-indicators/pull/115 i did this to the main branch instead of a working one I had created.

So, I think this means it has been addressed in the repository  --- but I have not yet pushed the updated image up to DockerHub, so I won't yet close this issu

[2021-04-22 14:49] shiqin-liu commented on #116
I did not realize this warning on my end, but it seems harmless? I am fine with this change if all agree :)

[2021-04-22 16:14] gboeing commented on #116
Fleshing this out with some more details. The change @carlhiggs referenced was made in bab2254d1abfc02bc1f3f60eb322ccfbb8271ab1. The `pillow` vulnerability is documented [here](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-25292) and the fix is in their change log [here](https://pillow.readthedocs.io/en/stable/releasenotes/8.1.1.html).

Currently our proposed [fix](https://github.com/glo

[2021-05-04 07:24] carlhiggs commented on #116
Hey, i've just created a pull request for an update on the 'fix' branch where I amended the requirements text to have `pillow >= 8.1.1`; things appeared to build and work successfully.  Re-reading, I just realised I could have changed this to fix to minor version 8.2.* as per suggestion --- let me know if that's preferable and I'll be happy to modify and push up an updated version.  Otherwise, if

[2021-05-04 15:38] gboeing commented on #116
Yes let's pin it to 8.2.*

Otherwise, if we rebuild a year from now, it may install v8.4.0 (for example), which our own code may end up having minor incompatibilities with. If our code is tested and working with 8.2.*, then let's pin to that minor version.

[2021-05-05 01:31] carlhiggs commented on #116
Thanks Geoff; I attempted setting pillow requirements to 8.2.*, however this cascaded to a large number of package version conflicts when attempting to build the image.

A subsequent build using the more restricted range of `pillow >= 8.1.1,8.2.0` was successful, and so I have just committed this change (updates to requirements.txt and environment.yml).

Let me know if you think this works, and if

[2021-05-05 01:32] gboeing commented on #116
@carlhiggs approved!

[2021-05-05 01:40] #116 closed, assigned to carlhiggs

[2021-06-15 07:05] carlhiggs opened #119 "GTFS analysis fails to match frequencies.txt with trip IDs in some instances"
When looking to analyse the recently located GTFS feed for Bangkok, we found that despite the feed appearing to be complete and full of data, when subjected to the restrictions of our analysis workflow too few stops were identified.

On investigation, it was found that the get_hlc_stop_frequency() function's filtering of the frequencies.txt data (which for Bangkok defines headways for specific tri

[2021-06-18 00:46] carlhiggs opened #121 "Geopandas / fiona Runtime warning"
[I don't believe this is urgent, or necessarily within our control to fix, but its an oddity worth noting]

Currently when we run our code (sp.py and aggr.py), there arises at several points RuntimeWarning errors; these apparently don't cause any issues in themselves, but they are disconcerting.

I believe the error arises when reading a layer from a geopackage, eg. in the calc_hexes_pct_sp_indica

[2021-06-18 00:50] gboeing commented on #121
Yep this is a common thing in recent months. I recommend just ignoring it and letting the dependencies sort themselves out in upcoming releases.

[2021-06-18 01:24] carlhiggs opened #122 "Mismatch in sample point variable names, likely causing bug in aggr.py"
When re-running the aggregation code after re-processing Bangkok (to add in analysis of a recently located GTFS feed for that city, to help with global comparisons), a bug was encountered which causes the analysis not to sucessfully run.

Specifically, I have found that the incompatibility is a key look up error where a subset of relevant fields are requested to be retained after reading in the sa

[2021-06-18 23:54] carlhiggs commented on #122
Just confirming that re-running the analyses for so cities did correct the output variable names to match the updated schema, as expected.

[2021-06-18 23:54] #122 closed, assigned to nobody

[2021-06-18 23:56] carlhiggs commented on #119
The pull request that this issue is linked to resources this issue, and related issues integrating the previously seperate GTFS preprocessing code into the main repository.  This can be closed once the pull request is merged

[2021-06-22 01:38] #119 closed, assigned to nobody

[2021-06-22 01:38] #121 closed, assigned to nobody

[2021-07-28 15:21] meow0088 opened #124 "Can anyone get the data file?"
Hello, I'm interesting in this project.
In the past few days, I have tried to make the code run successfully on my machine.
Now I'm wondering if it is convenient to get the dataset?
No matter what the answer is, I appreciate all of your work.
Thanks

[2021-07-29 03:40] carlhiggs commented on #124
Hi @meow0088 ; we plan to publish this, but we haven't yet publicly as we've been focussing on the write up of a series of papers for publication.  However, I think you make a good point that it may be best to publish this with a DOI in a public repository sooner than later --- @gboeing , @shiqin-liu , @duelran , what do you think?  Perhaps we should check with our broader co-authors in the series

[2021-09-14 06:10] carlhiggs commented on #124
Just following up, the output data has now been uploaded to our institutional repsository at:
https://doi.org/10.25439/rmt.15072009.v1

This will be described in more detail in our forthcoming publication.  Hope this helps!

[2021-09-14 06:10] #124 closed, assigned to nobody

[2021-09-14 06:22] carlhiggs opened #125 "Issues with pillow and jupyterlab versions"
Dependabot alerts have been generated for pillow and jupyterlab versions currently used in our Docker image.

https://github.com/global-healthy-liveable-cities/global-indicators/security/dependabot/docker/requirements.txt/pillow/open
https://github.com/global-healthy-liveable-cities/global-indicators/security/dependabot/docker/requirements.txt/jupyterlab/open

To resolve, it is recommended to use

[2021-09-14 16:41] gboeing commented on #125
I'm not sure we need to update this. Nearly any "frozen" environment will eventually demonstrate dependency vulnerabilities over the years. The whole environment is containerized so it's not like it's running un-sandboxed on someone's production server. I think we should keep it snapshotted like this as the reference environment, that is, the exact configuration of code and underlying software use

[2021-09-14 23:48] carlhiggs commented on #125
That does sound good to me -- I had a few goes re-building tweaking the requirements versions to get rid of conflicts and haven't yet had success.   It might be at some point we could go over the code with a comb to see if we are installing things that aren't used which complicate things (eg nodejs was listed in Docker requirements.txt and may not be used in this project?).  But perhaps its not th

[2021-09-15 01:02] carlhiggs commented on #125
@gboeing In case its of use later, I was able to successfully build using the following items in requirements.txt which should address these warnings --- however I haven't confirmed that all our code runs as intended.  I agree with your point that changing software at this point is not a good idea, so I'll close this issue but leave this list in case its of use if this is re-approached at a later

[2021-09-15 01:02] #125 closed, assigned to nobody

[2021-09-15 14:22] meow0088 commented on #124
I'm grateful for your update.
I'll find some times to give it a try.
Wish all of you have a good day.

[2021-10-18 06:31] carlhiggs opened #126 "Check collaborator report code still works with re-located folder"
I just noticed that the collaborator report template folder was re-located as part of a pull request in December 2020, and this may create some issues with the pre-processing workflow (eg paths needing updating)
https://github.com/global-healthy-liveable-cities/global-indicators/pull/101

I am creating this issue as a place holder to look into this later; I don't have time right now, but will be g

[2022-02-22 00:49] carlhiggs opened #127 "Clarification needed for set up of Postgis for pre-processing workflow"
The directions for setting up the Postgresql+Postgis database for the pre-processing workflow using the cityseer/postgis Docker image appear to be missing from the readme/documentation; these need to be added in.

[2022-02-22 03:32] carlhiggs commented on #127
The original readme ("[first commit](https://github.com/global-healthy-liveable-cities/global-indicators/commit/f3af4cd5fdfdc3288dfc6e6ae03d4329337f675f)" on 16 April 2019) had the following lines describing how to set up the Postgis database, however at some point the readme was apparently modified and these perhaps were lost.  I'll add those back in shortly:

____________

* set up spatial datab

[2022-02-25 05:16] #127 closed, assigned to carlhiggs

[2022-02-25 05:16] #126 closed, assigned to carlhiggs

[2022-04-23 01:08] carlhiggs opened #129 "Confirm GHS covariate linkage is correct"
Need to confirm that city-linkage with Global Human Settlements Urban Centres database air pollution covariates is correct.  A question was raised that this may be matching on city name, but not country name, resulting in inaccuracies for two cities for those statistics, including marginal estimates --- this needs to be confirmed, and resolved if there are issues to ensure statistics are accurate.

[2022-04-23 02:32] carlhiggs commented on #129
It was confirmed that an error occurred for Barcelona and Valencia's air pollution statistic linkage; these were incorrectly linked with cities of these names in Venezuela rather than Spain.  Other cities were correctly linked.  The exact code needing to be amended hasn't been identified yet, although related to pre-processing script 11_urban_covariates.py, or variables used there. The priority in

[2022-04-23 02:50] carlhiggs commented on #129
The location of the error in is the project_configuration.xlsx 'region_settings' sheet, where for 'covariate_data' there is a snippet of SQL linkage code, which for most cities was based solely on the 'UC_NM_MN' variable.  In retrospect, this was not a good idea, and match should also have been made on country also (e.g. XC_NM_LST).  Barcelona and Valencia were the only non-unique cities, being lo

[2022-04-26 01:15] carlhiggs commented on #129
This has been resolved as per #130

[2022-04-26 01:15] #129 closed, assigned to nobody

[2022-05-02 01:25] carlhiggs commented on #129
For the record, confirming that the mis-match only related to air pollution statistics (E_EC2E_T15, E_EC2O_T15, E_EPM2_T15, E_CPM2_T14) linked for Barcelona and Valencia, and that the previously output city-level results stored on Figshare and Cloudstor have now been updated with the correct results for these cities for these linked air pollution statistics.

[2022-06-24 08:10] PreEnvirons opened #131 "01_create_study_region.py"
When we execute 01_create_study_region.py, the defined boundaries  'boundaries.gpkg' is not found. Please see the following error notice:

Traceback (most recent call last):
Create study region boundary...
Traceback (most recent call last):
  File "fiona/_shim.pyx", line 83, in fiona._shim.gdal_open_vector
  File "fiona/_err.pyx", line 291, in fiona._err.exc_wrap_pointer
fiona._err.CPLE_OpenFailed

[2022-06-29 07:54] carlhiggs commented on #131
Hi!  The boundaries geopackage has to be created by the user according to how they configure the project; I believe this is outlined in the article/supplementary material at the following links:
https://doi.org/10.1111/gean.12290
https://doi.org/10.1016/S2214-109X(22)00072-9

Having said that, the boundaries file we collated is downloadable from,
boundaries.gpkg: https://cloudstor.aarnet.edu.au/pl

[2022-07-01 13:15] VuokkoH opened #132 "mdillon/postgis missing pgrouting"
Hi!

**ISSUE:** The [mdillon/postgis](https://hub.docker.com/r/mdillon/postgis/) docker image that is instructed in [process/pre_process/readme.md](https://github.com/global-healthy-liveable-cities/global-indicators/blob/main/process/pre_process/readme.md) does not seem to include pgrouting which is required in the process. Using this image results in an error at least in [00_create_database.py](h

[2022-07-01 14:05] VuokkoH opened #133 "Deprecated function in 04_create_hex_grid.py?"
This if-clause results in an error in [04_create_hex_grid.py](https://github.com/global-healthy-liveable-cities/global-indicators/blob/main/process/pre_process/04_create_hex_grid.py):

[code]
This is the error message:
[code]

[I quick-fixed the issue by commenting out those if-clauses](https://github.com/VuokkoH/global-indicators/blob/helsinki/process/pre_process/04_create_hex_grid.py) (the SQL q

[2022-07-01 15:18] VuokkoH opened #134 "Incompatible version of sphinxcontrib-bibtex"
Hi!

Running [_create_preliminary_validation_report.py](https://github.com/global-healthy-liveable-cities/global-indicators/blob/main/process/pre_process/_create_preliminary_validation_report.py) in the default environment results in ExtensionError: `You must configure the bibtex_bibfiles setting`.

Seems that the latest version of `sphinxcontrib-bibtex` is incompatible with some other stuff.

I n

[2022-07-04 01:32] carlhiggs commented on #132
Hi @VuokkoH --- thank you! there was an oversight in updating the readme.md, this was the PostGIS+pgRouting distribution used:
https://hub.docker.com/r/cityseer/postgis/tags

It looks like both starefossen and cityseer's docker images were compiled about 3 years ago --- but the cityseer one is PostgresSQL 11 with pgRouting 2.6, while starefossen's is PostgreSQL 10 with pgRouting 2.5

As we discuss

[2022-08-23 12:07] guilhermeiablo opened #135 "password protected cloudstor"
I'm trying to run the notebooks but seem to be unable to access the CloudStor data without a password?

[2022-08-26 04:18] carlhiggs opened #136 "update walkability index approach to work with an expanding set of cities"
The global indicators software tool was initially designed as a proof of concept spatial indicator analysis workflow for 25 cities.  However, to work for an open ended number of cities, a walkability index cannot be calculated based on sub-components scored relative to the observed values across all cities.  This would mean all cities walkability scores would require re-calculation as each new cit

[2022-08-26 06:18] carlhiggs commented on #135
Hi @guilhermeiablo , the prototype project in general was created to be run from scratch using source input data collated by analysts. For context, we are in the process of re-organising things to streamline the overall workflow to more readily extend for new analyses.

But to help with your specific question, if you provide the link to the part of the code which requires this data, it may be that

[2022-08-26 14:30] guilhermeiablo commented on #135
Oh, I see. I was actually asking because it was a part of the "analysis" read me, so I figured it was necessary. Thank you for the clarification!
The reason I was interested in looking at the files is because I'm having a hard time understanding whether the pre-processing scrips do the actual downloading from OSM and GHSL, and where to put the custom boundary files for cities. I see in the configu

[2022-08-29 00:45] carlhiggs commented on #135
Hi Guilherme, I've just removed the password from that link --- the data hosted there (which includes copies of outputs and inputs, including GHSL data but only processed, not raw OSM) should be fully publicly accessible now.   Re data folder, I think you're referring to the folder 'data' which is a sub-folder of the process folder --- you can find that here: https://github.com/global-healthy-live

[2022-08-29 00:45] #135 closed, assigned to nobody

[2022-08-29 00:47] carlhiggs commented on #131
I am closing this as complete now as no response received from original poster.   A link to boundaries data was provided, and in addition this is available on CloudStor at https://cloudstor.aarnet.edu.au/plus/s/nYtHf1UqN9AAZX1

[2022-08-29 00:47] #131 closed, assigned to nobody

[2022-08-29 00:50] carlhiggs commented on #134
Thanks Vuokko, just wanted to add a comment here because I know we discussed this via e-mail --- but want to acknowledge here that i've read this, and aim to get around to looking at this shortly!  I expect we'll do some small patches for incompatibilities that have arisen such as this, before commencing a bigger re-factoring of the tools and code.  Thanks for noting this issue, and for patience :

[2022-08-29 00:51] carlhiggs commented on #133
Thanks for this Vuokko -- just acknowledging this formally in this thread as something I'll get around to updating soon-ish ; thanks for patience!

[2022-08-31 01:24] carlhiggs commented on #136
I have proposed to others that we resolve this problem essentially by removing the between-city walkability index for the global project, at least until we develop and validate a revised method we all agree upon.  (fyi @VuokkoH )

That is, we present 'walkability' not as a composite index, but rather as a collection of indicators for street connectivity, dwelling density and access to a range of s

[2022-09-01 14:49] VuokkoH opened #137 "11_urban_covariates.py fails if changing intersection tolerance"
Tiny issue in
- [11_urban_covariates.py](https://github.com/global-healthy-liveable-cities/global-indicators/blob/main/process/pre_process/11_urban_covariates.py), [row 56](https://github.com/global-healthy-liveable-cities/global-indicators/blob/391c5e7fb1d95180d8dbd262e4aa54a7036e058d/process/pre_process/11_urban_covariates.py#L56)

- [_export_gpkg.py](https://github.com/global-healthy-liveable-c

[2022-09-02 00:00] carlhiggs opened #138 "City-specific tolerance parameters for cleaning/consolidating intersections should be allowed"
Currently, the intersection cleaning/consolidation process uses a single tolerance parameter across the entire project, with a default of 12 metres.  This is used to ensure that representation of features such as roundabouts don't bias estimates for street connectivity upwards due to excessive node artifacts; instead, the network is simplified by some tolerance value.

The current default of 12m w

[2022-09-02 00:01] carlhiggs commented on #137
Thanks @VuokkoH  -- nice pick up!  I've just amended those two scripts to use the global intersection_tolerance parameter, which addresses this particular issue #137.

The bigger issue that this relates to, which we've seperately discussed is that city-specific tolerance should apparently be allowed (if not some kind of dynamic tolerance; but that may be beyond scope and over-complicated to implem

[2022-09-02 00:01] #137 closed, assigned to nobody

[2022-09-02 03:22] carlhiggs commented on #138
I just pushed up a change in the _project_configuration.xls file as described above, which achieved the above amendment! @VuokkoH this means that if Helsinki were added as a city, it could have a network_tolerance parameter defined as 5 (if that is what has been determined as most appropriate) in the region_settings worksheet.  I'll close this issue now!

[2022-09-02 03:22] #138 closed, assigned to nobody

[2022-09-02 03:24] carlhiggs commented on #132
I'm going to close this for now -- re-factoring will be a seperate process; I think updating the directions as already done was sufficient to resolve this

[2022-09-02 03:24] #132 closed, assigned to nobody

[2022-09-02 04:22] #133 closed, assigned to nobody

[2022-09-02 04:25] #134 closed, assigned to nobody

[2022-09-02 08:03] carlhiggs opened #139 "Simplifying install (seperating environments for analysis and reporting)"
The current set of project requirements are quite complex, partly because the software

- tries to do many things (e.g. different analyses and reporting on these in different formats)
- had multiple authors working on different components (tasks could be more refactored with dependencies streamlined)
- developed out of previous projects, with their own histories of the above

I think it could be g

[2022-10-10 03:47] carlhiggs opened #140 "engine.has_table() deprecated"
The current approach for checking if an SQL table exists using sqlalchemy has been deprecated and results in the following warning:

So, before/while doing other more meaningful updates ( #136 ), it will be good to address this smaller one

[2022-10-10 04:42] #140 closed, assigned to carlhiggs

[2022-10-10 09:32] #136 closed, assigned to carlhiggs

[2022-10-10 11:05] carlhiggs opened #144 "Consolidate configuration"
Current configuration files for the project have overlap in the 'pre-process' and 'process' stages of the project.  I think it will be worth consolidating these now before a larger re-factoring, as it will make things considerably simpler defining parameters once, eg in one or more YAML files dealing with project, region, indicators, and data settings.

[2022-10-10 11:08] carlhiggs opened #145 "'Pre-process' is currently treated as external, but is actually just first step of processing"
'Pre-process' is currently treated as external, but is actually just first step of processing ---- with some re-factoring, this series of steps could be brought in to make more clear that the order of processing is:

- collate and derive study region resources (ie. pre_process)
- analysis for sample points (sp.py)
- analysis for areas (aggr.py)

[2022-10-10 11:15] carlhiggs opened #146 "GHS-POP R2019a under-estimates Ghent population density/variability; but R2022a is good"
Our Belgian collaborator Delfien van Dyck contacted us regarding concerns about Ghent's population density estimates, where 0% of the population were estimated to meet the population density threshold (somewhat contradictory of Ester's threshold analysis using IPEN study data based on official sources).

The short of it is, the older GHS R2019a 2015 population estimates were coarse (250m) and wron

[2022-10-10 11:15] carlhiggs opened #147 "Incorporate GHS-POP R2022a population estimates for 2020"
The Global Human Settlements Layer population data for 2020 is out (https://ghsl.jrc.ec.europa.eu/download.php?ds=pop), at finer resolution (100m grid); it also contains projects up to 2030, although a future release planned for December 2022 should refine this further.   But will be good to trial this (as per #146, we'll get this going for Ghent, for which this data provides an important improvem

[2022-10-11 04:24] carlhiggs commented on #134
I just noticed on one of my computers that hadn't updated the Docker image with the new requirements that a better fix may be to add `bibtex_bibfiles = ['references.bib']` in process/collaborator_report/conf_template.py ----- as per usage notes for sphinxcontrib-bibtex https://sphinxcontrib-bibtex.readthedocs.io/en/latest/usage.html .  I confirmed that this allowed the process to run with version

[2022-10-12 06:19] carlhiggs commented on #144
I've partly updated the preprocess branch; will be good to consolidate all configuration code to the configuration folder to make more clear which scripts need to be run

[2022-10-12 06:22] carlhiggs opened #151 "Rename processing scripts to make purpose and sequential order more clear"
Currently the order is run a sequence of preprocessing scripts in the preprocess folder, then sp.py then aggr.py --- this could be made more obvious by
- having a wrapper script for the pre-procssing stage in the 'process' folder, to make clear its first step in the process
- renaming each script prefixed with a number indicating order of processing
- moving configuration files to configuration fo

[2022-10-12 22:00] carlhiggs commented on #151
Re the names, perhaps the following would make things clearer, more intuitive to run and easier to explain:

- 01_city_setup.py
- 02_neighbourhood_analysis.py
- 03_aggregation.py

There's a slight wrinkle with the current GTFS script in the city setup workflow being for all cities instead of a single city, but we can re-factor that later for consistency too, so the above streamlined paradigm could

[2022-10-16 04:02] carlhiggs opened #152 "Aggregation script for 1000 cities challenge should just aggregate one city, not many"
The current approach to aggregation of neighbourhood indicators using a hexagonal grid and overall city summaries was designed for our 25-city study.  The code took the list of processed geopackage outputs for all cities, and created CSV and geopackage files combining hexagonal grid and city results for all cities, with index or layers by city.

However, branching out into an open ended study with

[2022-10-17 23:08] carlhiggs opened #154 "Configuration files in repo should be templates, with a script to generate copies for users to modify"
While creating the most recent updates, I was experimenting with new study regions --- something which users might well do --- and it occurred to me, this is a real pain for code consistency.  We don't want my or others' study region experimentations pushed to the main code repository, and users don't want their own modifications over written when the pull code if we update our provided configurat

[2022-10-18 03:51] carlhiggs opened #156 "Allow for CRS types other than those of the EPSG standard"
While implementing the new GHSL population data, which is currently released in Mollweide projection, I realised that this has a coordinate reference system of 'ESRI:54009' , ie. its standard is of ESRI, and not EPSG.   The current code uses variables which take 'epsg' for granted, and given this is not always the case (and specifically, to make it easier to load the Mollweide data), we should ame

[2022-10-23 09:05] #144 closed, assigned to nobody

[2022-10-23 09:06] #145 closed, assigned to nobody

[2022-10-23 09:06] #151 closed, assigned to nobody

[2022-10-23 09:07] #152 closed, assigned to nobody

[2022-10-23 09:08] #154 closed, assigned to nobody

[2022-10-23 09:32] carlhiggs opened #157 "Use population grid for small area analysis, rather than interpolate to hexagonal grid"
To date, we have been using a generated 250m hexagonal grid for small area analysis, however this involves interpolating a population grid to derive population estimates.  This interpolation, using the average of intersecting population grid cells, introduces some degree of error.  An indirect solution would be to use an area-weighted sum of population to gather population estimates for the genera

[2022-10-23 09:47] carlhiggs opened #158 "Should be able to construct pedestrian network from file without using Overpass"
Currently the use of OSMnx to derive a routable network uses the graph from polygon function to retrieve the network via the Overpass API.  This has several disadvantages

- requires an internet connection
- temporal mismatch between 'current' network and other sourced openstreetmap data (even if approximately current)

The requirement of an internet connection is a minor inconvenience.   The temp

[2022-10-23 10:04] carlhiggs commented on #146
Recent commits to the enhancements branch have addressed this issue, by

- allowing for use of the updated GHSL r2022a population data for 2020 (as per #147)
- using the population grid for analysis directly, without interpolation to a secondary grid (see #157)

The result is, updated results for Ghent run from the process targetting 2022 (ie using 'current' OpenStreetMap for urban features includ

[2022-10-23 12:51] #146 closed, assigned to nobody

[2022-10-23 12:51] #147 closed, assigned to carlhiggs

[2022-10-23 12:51] #156 closed, assigned to nobody

[2022-10-23 12:51] #157 closed, assigned to nobody

[2022-10-23 13:05] carlhiggs opened #160 "Confirm that all documentation reflections most recent changes"
There have been some big changes in the past week, in particular #155 and #159 which consolidated the approach to project configuration, simplified the running of scripts (4 step process), and switched to using the sourced population grid directly to represent small neighbourhood areas for analysis.

While attempts were broadly made to update readme files as these changes occurred, its possible so

[2022-10-23 14:01] carlhiggs opened #161 "Consider if its possible to model routing for pedestrian areas"
It was pointed out to me (thanks @IrenaItova!) that the pedestrian network we generate didn't include the following pedestrian 'area'
https://www.openstreetmap.org/way/614403840#map=19/53.55885/-2.32512
![image](https://user-images.githubusercontent.com/12984626/197396488-fd9e0e13-93b1-4924-8d6f-d449ffe47ef9.png)

I looked at our custom pedestrian query and determined that this is most likely beca

[2022-10-23 14:15] gboeing commented on #161
Yes OSMnx by default ignores ways with `area=yes` in its built-in [filters](https://github.com/gboeing/osmnx/blob/main/osmnx/downloader.py#L28). This can be customized as needed by the user.

The reasoning behind ignoring these ways is that they don't correspond well to a graph-theoretic representation of the network. That is, these ways represent boundaries of a polygon. However, OSMnx graphs exp

[2022-10-23 14:22] carlhiggs commented on #161
Thanks @gboeing , I knew there would be a reason!

Something to think about for our project some time when we have more time perhaps.  I've thought of this before in the context of public open space --- often (not always) people can/would walk through these, and it could be nice to model that assumption (although it would sometimes be wrong) by inserting new edges across to represent their potenti

[2022-10-25 09:43] VuokkoH opened #162 "Host-issue when connecting to pgrouting docker"
I had trouble connecting to the pgrouting/postgis docker with the instructed syntax in [process/README.md](https://github.com/global-healthy-liveable-cities/global-indicators/tree/main/process#3-run-docker).

Depending on settings in `config.yml`, I got error "could not translate host name" (when `host: gateway.docker.internal` or `host: host.docker.internal` ) or "connection refused" (when `host:

[2022-10-25 10:27] carlhiggs commented on #162
Thank you for your testing of the updated software and for providing a workaround to this @VuokkoH!

It seems the local network port varies across different systems (eg Windows, Linux, Windows Subsystem for Linux, etc), so it would be great to develop an approach  to take some of the guesswork out of this.  Ultimately I'd like to get to a point where the various docker task environments (db, analy

[2022-10-25 10:40] carlhiggs commented on #162
This issue also links to these other couple regarding simplifying the software setup process:

- https://github.com/global-healthy-liveable-cities/global-indicators/issues/139
- https://github.com/global-healthy-liveable-cities/global_scorecards/issues/17

[2022-11-27 10:29] VuokkoH opened #163 "File _gtfs_utils.py missing from the repo"
Hi!

File `_gtfs_utils.py` seems to be missing from GitHub. This errors out in the new version of the gtfs analysis in [10_gtfs_analysis.py](https://github.com/global-healthy-liveable-cities/global-indicators/blob/main/process/pre_process/10_gtfs_analysis.py#L21)

[2022-11-27 11:03] carlhiggs commented on #163
Thanks Vuokko, I'll check this out when I get back to work next week (~5
December); some functions were consolidated, and though I tested things
out, some things (like this) could have been overlooked --- not all cities
have GTFS data so it's possible I could have missed the full testing ....
But I'll check it out next week :) Carl

El dom., 27 nov. 2022 10:30, Vuokko Heikinheimo ***@***.***>
escr